:root{
    --secondary-color:#837dfe;
    --brand-color:#f9f7fe;
    --heading-font-family:"Playfair Display", serif;
        --default-font-family: "Poppins", sans-serif;
}
body{
    font-family: var(--default-font-family);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font-family);
}

.hero-section{
    background-color: var(--brand-color);
    padding: 160px 20px;
}
.hero-section h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}
.hero-section h1{
font-size: 96px;
}
.heading{
    font-size: 84px;
}
.aligned-head{
    font-size: 64px;
}

.adjusted-width{
    width: 160px;
}

.adjusted-heading{
    font-size: 64px;
    margin-top:96px;
    margin-bottom: 36px;
}
.btn:hover {
    color: black;
}
.poppins-head{
    font-family: var(--default-font-family);
}
.header-section{
    padding: 160px 20px;
}

@media (max-width:576px){
.hero-section h1, .heading, .aligned-head{
    font-size: 48px;
}
.hero-section h2{
font-size: 24px;
}
.hero-section{
    padding: 100px 18px;
}
.adjusted-heading{
    font-size: 40px;
    margin-top: 2px;
}
div{
    text-align: center;
}
.header-section{
    padding: 15px 10px;
}
.owner-img{
    margin-top: 20px;
}
}